{{page-title 'addon usage example'}}

<h2 id='title'>ember-number-input-validator Use Example</h2>
<InputValidator
  @labelTitle={{'Input IDNP'}}
  @inputLength={{13}}
  @errorMessage={{'IDNP can only contain numbers!'}}
/>

{{outlet}}